@import "./common.scss";

.n-list {
  padding: 8px 16px;

  .n-list-item {
    padding: 8px 0;
    font-weight: 500;
    @extend %flex-row;

    .n-list-item__prefix,
    .n-list-item__suffix {
      display: flex;
    }

    .n-list-item__main {
      @extend %flex-row;
    }
  }
}

.n-layout-sider,
.n-layout-sider-scroll-container {
  width: 260px !important;
  max-width: 260px !important ;
  height: 100vh;
  @extend %flex-column;
}
